<mat-toolbar class="gap-2">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="!font-mono !text-inherit relative z-0">
    Tracker<span class="text-slate-600">js</span>
    <span
      class="-z-10 absolute right-[-3px] opacity-40 top-0 bg-slate-400 h-[32px] w-[32px] rounded translate-1/2"
    ></span>
  </h1>
  <span class="spacer"></span>
</mat-toolbar>
<mat-drawer-container class="drawer-container">
  <mat-drawer
    #drawer
    class="!bg-slate-100"
    [mode]="opened ? 'side' : 'over'"
    [opened]="opened"
  >
    <div
      class="flex justify-between items-center !text-slate-500 h-[64px] px-4 border-slate-300 border-b-2"
    >
      <h2 class="!text-xl !font-mono !m-0">Projects</h2>
      <button mat-icon-button (click)="onClickAddProject()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <form [formGroup]="form">
      <mat-selection-list formControlName="project" [multiple]="false">
        @for (project of projects$ | async; track project.id; let index =
        $index) {
        <mat-list-option [value]="project.id" [selected]="index === 0">{{
          project.name
        }}</mat-list-option>
        }
      </mat-selection-list>
    </form>
  </mat-drawer>
  <div class="drawer-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
